# OS metadata
.DS_Store
Thumbs.db
Desktop.ini

# Editor directories
.vscode/
.idea/

# Next.js and Dependencies
node_modules/
/.next/
/out/
.env*.local

# Logs and scratch
*.log
scratch/
*.tsbuildinfo
